library/uapki-1c/MANIFEST.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Conformant rewrite of the 1C:Enterprise 8.3.23 SDK add-in bundle schema.

  The schema shipped in the SDK (include/MANIFEST.xsd) is not usable for
  automated validation: its <xs:documentation> tags are not closed, its
  <xs:simpleType> enumerations are missing the <xs:restriction> wrapper, its
  type references are not namespace-qualified, and it declares no global
  <bundle> element. 1C's own loader is lenient and accepts it anyway.

  This version is well-formed and conformant while encoding the exact same
  constraints (element/attribute structure and enumerated value sets), so a
  generated Manifest.xml can be validated with a standard XML toolchain.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://v8.1c.ru/8.2/addin/bundle"
           targetNamespace="http://v8.1c.ru/8.2/addin/bundle"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

    <xs:element name="bundle" type="tns:Bundle"/>

    <xs:complexType name="Bundle">
        <xs:sequence>
            <xs:element name="component" type="tns:Component" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="Component">
        <xs:attribute name="os" type="tns:OSType" use="required"/>
        <xs:attribute name="path" type="xs:string" use="required"/>
        <xs:attribute name="type" type="tns:ComponentType" use="required"/>
        <xs:attribute name="object" type="xs:string"/>
        <xs:attribute name="arch" type="tns:ArchType" use="required"/>
        <xs:attribute name="client" type="tns:ClientType"/>
        <xs:attribute name="clientVersion" type="xs:string"/>
        <xs:attribute name="buildType" type="tns:buildTypeEnum"/>
        <xs:attribute name="codeType" type="tns:codeTypeEnum"/>
    </xs:complexType>

    <xs:simpleType name="OSType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Windows"/>
            <xs:enumeration value="Linux"/>
            <xs:enumeration value="MacOS"/>
            <xs:enumeration value="iOS"/>
            <xs:enumeration value="Android"/>
            <xs:enumeration value="WindowsRuntime"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ComponentType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="native"/>
            <xs:enumeration value="com"/>
            <xs:enumeration value="plugin"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ArchType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="i386"/>
            <xs:enumeration value="x86_64"/>
            <xs:enumeration value="ARM"/>
            <xs:enumeration value="ARM64"/>
            <xs:enumeration value="E2K"/>
            <xs:enumeration value="Universal"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ClientType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1C:Enterprise"/>
            <xs:enumeration value="Firefox"/>
            <xs:enumeration value="MSIE"/>
            <xs:enumeration value="Safari"/>
            <xs:enumeration value="Chrome"/>
            <xs:enumeration value="YandexBrowser"/>
            <xs:enumeration value="ChromiumGost"/>
            <xs:enumeration value="Edge"/>
            <xs:enumeration value="AnyChromiumBased"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="buildTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="developer"/>
            <xs:enumeration value="release"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="codeTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="c++"/>
            <xs:enumeration value="java"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
